doctype 5
html
  head
    title اطلاعات افراد
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        h1 اطلاعات افراد
      #content
        block content
      #footer
        a(href="http://nhab.github.io") nima habibollahi